body {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  overflow-x: hidden;

  max-width: 1500px;
  margin: 0 auto;
}

.about-open-btn,
.about-close-btn {
  display: none;
}

.navbar-home {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 60px;
  margin-right: 60px;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: all 3s ease;
}

.nav-link:hover {
  color: #fbcd95;
}

.logo {
  width: 200px;
  height: 180px;
  position: absolute;
  top: -8%;
}
.open-menu-btn {
  display: none;
}

.close-menu-btn {
  display: none;
}

.achievements-section {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.achievements-info-heading {
  color: #fbcd95;
  font-size: 44px;
  text-align: center;
}

.achievements-info p {
  color: #38a49d;
  font-size: 22px;
  line-height: 1.5;
  max-width: 700px;
  text-align: center;
}

.achievement-img {
  width: 700px;
  height: 500px;
}

.achievements-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}

.ach-grid {
  background-color: #050872;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ach-grid:hover {
  transform: scale(1.1);
}

.ach-grid h4 {
  font-size: 24px;
}

.ach-grid p {
  margin-top: -30px;
  font-weight: 700;
}

.ach-icon {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
}

.team {
  max-width: 1300px;
  margin: 0 auto;

  margin-bottom: 150px;
}

.team h2 {
  text-align: center;
  color: #fbcd95;
  font-size: 44px;
}

.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team-image {
  width: 300px;
  background-color: #38a49d;
  border-radius: 10px;
}

.team-image:hover {
  transform: scale(1.02);
}

.member-info h4 {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.member-info p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 100px;
}
footer {
  background-color: #050872;
  color: #fff;
  max-width: 100vw;
  padding-top: 10px;
  padding-bottom: 60px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 10px;
}

.column h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.footer-links {
  color: #fff;
  text-decoration: none;
  text-align: center;
  align-self: flex-start;
}

.footer-logo {
  width: 250px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icon {
  font-size: 30px;
  color: #fff;
}

.social-icon:hover {
  color: #38a49d;
}

@media (max-width: 1350px) {
  .hero-img {
    width: 700px;
    height: 500px;
  }

  .logo {
    top: -9%;
  }

  .achievements-section {
    max-width: 1000px;
    margin: 0 auto;
  }
  .achievement-img {
    width: 600px;
    height: 400px;
  }
  .achievements-info p {
    font-size: 16px;
    line-height: 1.2;
  }

  .team-image {
    width: 200px;
  }
  .team {
    max-width: 1000px;
    margin: 0 auto;
  }

  .member-info {
    text-align: center;
  }
}

@media (max-width: 1050px) {
  .achievements-section {
    max-width: 800px;
    margin: 0 auto;
    margin-left: 45px;
  }

  .team {
    max-width: 800px;
  }

  .team-image {
    width: 150px;
  }

  .member-info h4 {
    font-size: 18px;
  }

  .member-info p {
    font-size: 14px;
  }
  .achievement-img {
    display: none;
  }
  footer {
    position: relative;
    margin-bottom: 30px;
  }

  .footer-logo {
    display: none;
  }

  .columns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .social-icons {
    align-self: center;
    position: absolute;
    top: 50px;
  }

  .logo {
    top: -9%;
  }
}

@media (max-width: 800px) {
  .logo {
    top: -70%;
  }

  .navbar-home {
    position: relative;
  }

  .nav-menu {
    flex-direction: column;
    height: fit-content;
    width: 150px;
    background-color: #38a49d68;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    display: none;
  }

  .about-buttons {
    display: none;
    color: white;
    font-size: 44px;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-top: 10px;
  }
  .about-open-btn {
    display: inline-block;
  }

  .achievements-section {
    max-width: 600px;
    margin: 0 auto;
  }

  .team {
    max-width: 300px;
  }

  .team-members {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .social-icons {
    top: 460px;
    margin-right: -20px;

    right: 37%;
  }

  .columns {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 630px) {
  .achievements-section {
    max-width: 300px;
  }
  .social-icons {
    margin-right: -36px;
  }
}
