.section-3 {
  width: 1300px;
  margin: 0px auto;
  margin-bottom: 120px;
  margin-top: 100px;
}

.courses-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-top: 40px;
  row-gap: 80px;
}

.course-image {
  width: 420px;
  height: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.course-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #38a49d;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 30px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #eacda3 0%,
    #d6ae7b 51%,
    #eacda3 100%
  );

  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #050872;

  border-radius: 15px;
  display: block;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

.course-container:hover {
  transform: scale(1.02);
}

.section-3 h2 {
  text-align: center;
  color: #eacda3;
  font-size: 54px;
  font-weight: 600;
}

.course-container h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.course-container p {
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

@media (max-width: 1350px) {
  .section-3 {
    max-width: 1000px;
  }

  .course-image {
    width: 320px;
    height: 200px;
  }
}

@media (max-width: 1050px) {
  .section-3 {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .courses-section {
    grid-template-columns: 1fr 1fr;
  }

  .course-image {
    width: 375px;
    height: 300px;
  }
}

@media (max-width: 800px) {
  .section-3 {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .course-image {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 630px) {
  .section-3 {
    margin-top: 100px;
    max-width: 300px;
    margin-bottom: 100px;
  }

  .courses-section {
    grid-template-columns: 1fr;
  }

  .course-image {
    width: 300px;
    height: 200px;
  }
}
